@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');

.container {
    position: relative;
}

.nav {
    width: 50vw;
    box-shadow: 1px 1px rgb(0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 999;
    left: -52vw;
    top: 40vw;
}

.show {
    left: 0vw;
    position: initial;
}


.nav a:hover { 
    background-image:url(https://i.gifer.com/3iCN.gif);
    background-repeat:no-repeat;
    }
    .nav a:hover:before { 
    content:" » ";
    }

    

.icon {
    size: initial;
    padding: 6px;
    margin: 13px;
    width: 10%;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    

}



.menu-button {
    position: relative;
    z-index: 999;
    cursor: pointer;
    
}

.menu-items {
    height: 0px;
    width: 150px;
    padding: 0px;
    margin: 0px;
}

.menu-list {
    background: rgba(182, 10, 10, 0.979);
    font-family: 'Faster One', cursive;
    font-size: 1.5em;;
    list-style: none;
   
}

.menu-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 10px 16px;
    border: 1px solid #555;
}