button {
  font-family: "avengers";
  font-size: 32px;
  border-radius: 17px;
  background-color: #939393;
  color: #fff;
  border: 2px solid black;
  padding: 12px 33px;
}

.start-btn {
  position: absolute;
  left: 42vw;
  bottom: 5vh;
  animation: btnStartAnime 2s infinite linear;
  font-family: "avengers";
  font-size: 32px;
  border-radius: 17px;
  background-color: #939393;
  color: #fff;
  border: 2px solid black;
  padding: 12px 33px 0;
  text-decoration: none;
}

@keyframes btnStartAnime {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(0deg);
  }
  48% {
    transform: rotate(-5deg);
  }
  /* 50% {
        transform: rotate(0deg);
    } */
  52% {
    transform: rotate(5deg);
  }
  55% {
    transform: rotate(0deg);
  }
  95% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
