/* #homepage {

} */

#top-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
    align-items: center;
}
#top-icons a{
    padding:1vw;
}

#ironCompany {
    width: 20vw;
}

#marvelFight{
    margin-top: 15vh;
    margin-bottom:5vh;
    width: 80vw;
}

.social-container a {
    color:#d6891f;
}

p {
    margin-top: 5vh;
    font-family: 'Bowlby One SC', cursive;
}

@media screen and (min-width:1000px) {
    #top-icons{
        padding: 5vh;
    }
    #ironCompany {
        width: 8vw;
    }
    #marvelFight {
        margin-top:5vh;
        width:50vw;
    }
    p {
        position: absolute;
        bottom: 0;
        right: 5vh;
    }

}