.store-images {
  width: 30%;
}

.Store-button {
  height: 40px;
  font-size: 20px;
  padding: 10px 33px;
  background-color: #980024;
  border: 2px solid white;
  transition: background-color 0.2s ease-out;
}

.Store-button:hover {
  background-color: #acacac;
  color: #980024;
}
