.items-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.items-container img {
  width: 50px;
}

.items-container h2 {
  display: none;
  text-align: center;
}

.item-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  list-style: none;
}

@media screen and (min-width: 1024px){
  .items-container h2 {
    display: block;
  }
  .items-container img {
    width: 100px;
  }
  .items-list-container {
    flex-direction: row;
  }
  .item-container {
    flex-direction: column;
  }
}