.display {
  position: absolute;
  right: 0;
  top: 5vh;
   z-index: 999;
}

.btn {
  background: #000;
  border-radius: 5px;
  color: #fff;
  padding: 12px 15px 12px 10px;
  font-size: 0.8em;
  margin-right: 2vw;
  height: 32px;
  border: 1px solid white;
 
}
