.coin-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
    font-family: 'avengers';
    color: white;
    justify-content: center;
}

.coin-img {
    width: 50px;
}


/* ------------------------------------------------- TABLET AND DESKTOP ----------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
 
    .coin-img {
        width: 65px;
    }
    .coin-text-counter {
        font-size: 22px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .coin-img {
        width: 70px;
    }
    .coin-text-counter {
        font-size: 24px;
    }
}

@media screen and (min-width: 1441px) {
 
    .coin-img {
        width: 77px;
    }
    .coin-text-counter {
        font-size: 26px;
    }
}