.pauseDiv {
    position: absolute;
    right: 0;
    top: 12vh;
  }
  
  .pauseDiv button {
    background:#000;
    border-radius: 5px;
    color:#fff;
    padding: 12px 18px 12px 14px;
    font-size: 0.8em;
    margin-right: 2vw;
    height: 32px;
    border: 1px solid white;
  }

  #gamePausedDiv {
      position: fixed;
      top:0;
      left:0;
      width:100vw;
      height:100vh;
      z-index:1000; 
      background-color: rgba(0,0,0,0.6);
      text-align: center; 
      display:none;  
  }
  #gamePausedDiv h2 {
      margin-top: 35vh;
  }
  #gamePausedDiv button {
      margin-right:0;
  }