.villain {
  width: 300px;
  height: 300px;
  transform: scale(-0.9, 0.9);
  position: absolute;
  background-repeat: no-repeat;
  top: 130px;
  left: 45%;
}

.villain-animation {
  animation: animate 0.3s;
  filter: invert(1);
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 500px) {
  .villain {
    left: 45%;
  }
}

@media screen and (max-height: 590px) {
  .villain {
    top: 20px;
  }
}
