.display {
  position: absolute;
  right: 0;
  top: 5vh;
}

.btn {
  background: #6cd0f2;
  border-radius: 5px;
  color: #fff;
  padding: 12px 15px;
  font-size: 1em;
  margin-right: 50px;
  height: 40px;
}
