.coin-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 120px;
    margin: 0 auto;
    font-family: 'Bowlby One SC', cursive;
}

.coin-img {
    width:50px;
}