#game {
  width: 100%;
  height: 100vh;
  background: url("https://trello-attachments.s3.amazonaws.com/5da71c47d0e1d66400a19fb5/768x480/519fe61dab4e461f4293a69d8a9dd566/Marvel-vs.-Capcom-Clash-of-Super-Heroes-Video-Game-1998-Capcom-Blue-Area-of-the-Moon-Stage-Background-Animated-Sprites.gif")
    no-repeat 50% 0;
  background-size: cover;
  color: white;
  font-family: "avengers";
}

/*-----------------------------------------------------store------------------------------------------------*/


.background-skins {
  height: 60vh;
width: 55vw;
}


.items-container {
  position: fixed;
  z-index: 1;
  background-color: rgba(80, 80, 80, 0.746);
  width: 100vw;
  height: 65vh;
}

.items-list-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: auto;
  height: 60vh;
}

.cross {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}


.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  font-size: 5vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading::after {
  content: "...";
  animation: loading 5s infinite linear;
  overflow: hidden;
  position: fixed;
  left: 61.8vw;
}

@keyframes loading {
  0% {
    width: 0vw;
  }
  24% {
    width: 0vw;
  }
  25% {
    width: 1.05vw;
  }
  49% {
    width: 1.05vw;
  }
  50% {
    width: 2.03vw;
  }
  74% {
    width: 2.03vw;
  }
  75% {
    width: 3.05vw;
  }
  99% {
    width: 3.05vw;
  }
  100% {
    width: 0vw;
  }
}

.start-game {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 9em;
  position: fixed;
  z-index: 999;
}

#fight {
  color: red;
}
