#game-over {
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 600;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.game-over {
  position: absolute;
  font-size: 10em;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  top: 20vh;
}


@keyframes example {
  0% {
    color: white;
    text-shadow: 0 0 20px #4180da;
  }
  25% {
    color: red;
    text-shadow: 2px 2px 2px lime;
    transform: translate(-2px, 1px);
  }
  40% {
    color: white;
    text-shadow: none;
    transform: translate(0, 0);
  }
  50% {
    color: #4180da;
    text-shadow: 5px 5px 2px blue, -5px -5px 2px red;
    transform: translate(0px, 5px);
  }
  70% {
    color: white;
    text-shadow: none;
    transform: translate(0, 0);
  }
  80% {
    color: white;
    text-shadow: 0 0 20px red;
    transform: translate(-2px, 1px);
  }
  100% {
    color: white;
    text-shadow: none;
  }
}