img {
  width: 25px;
}

ul {
  padding: 0;
}

.item-container:nth-of-type(odd){
  background-color: #1d3051;
}

.item-container:nth-of-type(even){
  background-color: #000;
}

.nav-link {
  list-style-type: none;
  width: 100%;
  padding: 2px 0;
}

.img-container {
  display: flex;
  justify-content: space-around;
}

.img-container .nav-link {
  cursor: pointer;
}

#img-weapons {
  background-color: #910000;
}

#img-skins {
  background-color: #1d3051;
}

#img-characters {
  background-color: #d6891f;
}

#img-skills {
  background-color: #000;
}

@media screen and (min-width: 768px){
  img {
    width: 50px;
  }
}

@media screen and (min-width: 1024px){
  img {
    width: 75px;
  }
  li {
    padding: 6px 0;
  }
}