.about { 
    /*background-image: url("https://www.wired.com/geekmom/wp-content/uploads/2012/02/JL-courtesy-of-DC-Comics.jpg");*/
    background-image: url("https://cdn.collider.com/wp-content/uploads/2019/04/avengers-endgame-thanos-ship.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'avengers';

}

.title-card {
    font-size: 7vh;
    color: #f3c630;
}