.QuoteCard {
    display: flex;
    padding: 1.25em;
    width: 400px;
    border: 1px solid #f8f8f8;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 1.2em; 
    background-color: rgba(0, 0, 0, 0.568);
    color: #eee;
    flex-direction: column;
    font-family: 'avengers';
    justify-content: flex-start;
    height: max-content;
  }

  cite {
    color: #5bc4f9;
    font-size: 40px;
  }
  
  .QuoteCard img {
    display: flex;
  width: 100%;
  height: 40vh;
  }
  
  .QuoteCard blockquote {
    margin: 0 0 1rem 0;
  }

  .QuoteCard figcaption {
    min-height:20vh;
  }

  .QuoteCard figcaption p {
    margin: 0.125rem 0 0 0;
   
    
  }
  
  .QuoteCard figcaption p span {
    color: rgb(190, 0, 0);
  }
  
  .QuoteCard figcaption p span.is-favorite {
    color: #f3cb30;
  }
  