.popup {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
  }  
  .popup-inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: rgba(255, 255, 255, 0.829); 
    font-family: 'avengers'; 
  }

  #rules-title {
      font-size: 7vh;
      color: #4180da;
  }

  .rules-game {
      font-size: 4vh;
  }